<div class="container-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Register Company</h1>

    <div class="form-control">
      <input data-cy="name-input" type="text" formControlName="name" />
      <label for="name">Name</label>
      <span *ngIf="form.controls.name.errors?.required && form.controls.name.touched && !form.controls.name.pristine;">Name is required.</span>
    </div>
    <div class="form-control">
      <input data-cy="nip-input" type="text" formControlName="nip" />
      <label for="nip">Nip</label>
      <span *ngIf="(form.controls.nip.errors?.minlength || form.controls.nip.errors?.maxlength)  && form.controls.nip.touched;">Nip must have 9 numbers.</span>

    </div>
    <div class="form-control">
      <input data-cy="address-input" type="text" formControlName="address" />
      <label for="address">Address</label>
      <span *ngIf="form.controls.address.errors?.maxlength && form.controls.address.touched;">Address must have less than 20 characters.</span>

    </div>
    <div class="form-control">
      <input data-cy="web-input" type="text" formControlName="web" />
      <label for="web">Web</label>
      <span *ngIf="form.controls.web.errors?.pattern && form.controls.web.touched;">Web must be a valid URL.</span>

    </div>
    <div class="form-control">
      <input data-cy="email-input" type="email" formControlName="email" />
      <label for="email">Email</label>
      <span *ngIf="form.controls.email.errors?.email && form.controls.email.touched;">Email is not valid.</span>

    </div>
    <div class="form-control">
      <input data-cy="phone-input" type="text" formControlName="phone" />
      <label for="phone">Phone</label>
      <span *ngIf="form.controls.phone.errors?.pattern && form.controls.phone.touched;">Phone number format is not valid.</span>
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn">Submit</button>
  </form>
</div>
